[Unit]
Description=rucogs
Documentation=https://github.com/rucogs/rucogs-discord-bot
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/node /root/rucogs-discord-bot/dist/server.js
Environment=NODE_ENV=production
WorkingDirectory=/root/rucogs-discord-bot
Restart=on-failure

[Install]
WantedBy=multi-user.target